<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Choose Character</title>
</head>
<body>
<h2>Choose Character</h2>

<form action="/chooseCharacter" method="post">

    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />

    <!-- Dropdown for selecting existing characters -->
    <label for="existingCharacter">Select Character:</label>
    <select id="existingCharacter" name="existingCharacter">
        <option th:each="character : ${userCharacters}" th:value="${character.id}" th:text="${character.characterName}"></option>
    </select>
    <br><br>

    <br><br><button type="submit">Choose Character</button>
</form>

</body>
</html>
