<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="/fight" method="post">
    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>

    <label for="name">Name:</label>
    <input type="text" id="name" name="name" th:field="*{enemy.name}" required disabled>
    <label for="hp">hp:</label>
    <input type="text" id="hp" name="hp" th:field="*{enemy.hp}" required disabled>
    <label for="attack">attack:</label>
    <input type="text" id="attack" name="attack" th:field="*{enemy.attack}" required disabled>
    <br><br>

    <label for="characterName">Name:</label>
    <input type="text" id="characterName" name="characterName" th:field="*{gameCharacter.characterName}" required disabled>
    <label for="hpCharacter">hp:</label>
    <input type="text" id="hpCharacter" name="hpCharacter" th:field="*{gameCharacter.str}" required disabled>
    <label for="attackCharacter">attack:</label>
    <input type="text" id="attackCharacter" name="attackCharacter" th:field="*{gameCharacter.str}" required disabled>
    <br><br>
    <button type="submit">fight</button>
</form>
</body>
</html>